.main-post{
    padding: 2rem 0;
    text-align: center;
    .post__image{
        img{
            width:  100%;
            border-radius: 5px;
        }
    }
    .post__title{
        font-size: 28px;
        font-weight: bold;
        line-height: 1.5;
    }
    .post__expert{
        color: $steel;
    }
}
