.sec-posts{
    .sec-post{
        display: flex;
        .post-image{
            width: 37%;
            img{
                width: 100%;
            }
        }
        .post-details{
            flex: 1;
            text-align: right;
            padding-left: 10px;
            .post-tags{
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                svg{
                    width: 20px;
                }
                ul{
                    display: flex;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
}