.MuiDrawer-paperAnchorRight{
    width: 76%;
    max-width: none;
    background-color: $ice-blue !important;
    .side-menu-inner{
        padding: 0 2rem;
        position: relative;
        height: 100%;
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
            text-align: right;
        }
        a{
            text-decoration: none;
        }
        .close-button{
            position: absolute;
            right: 0.5rem;
            svg{
                font-size: 2rem;
            }
        }
        .dal{
            position: absolute;
            width: 229px;
            right: 0;
            transform: translateX(67px);
            z-index: -1;
            opacity: 0.1;
            pointer-events: none;
            user-select: none;
            touch-action: none;
            svg{
                fill: #0c3080;
            }
        }
        .main-list{
            padding: 1.5rem 0;
            ul{
                li{
                    padding: 1rem 0;
                    a{
                        color: black;
                        font-size: 24px;
                    }
                }
            }
        }
        .sec-list{
            position: relative;
            padding: 1.5rem 0;
            ul{
                li{
                    padding: 0.6rem 0rem;
                    a{
                        color: black;
                        font-size: 18px;
                    }
                }
            }
            &::before{
                content: "";
                position: absolute;
                width: 90%;
                height: 1px;
                background-color: $bluey-grey;
                top: 0;
                left: 50%;
                transform: translateX(-50%)

            }
        }
        .social-icons{
            display: flex;
            align-items: center;
            background-color: $ice-blue;
            li{
                width: 25%;
                height: fit-content;
                padding: 17px;
                a{
                    display: flex;
                    svg{
                        width: 100%;
                    }
                }
            }
        }
    }
}

