.default-post{
    padding: 0 5%;
    padding-top: 3rem;
    @include md{
        max-width: 1100px;
        margin: auto;
        padding: 0 3.5rem ;
        padding-top: 3rem;
    }
    @include lg{
        padding: 0 3.5rem;
        padding-top: 3rem;
    }
}