

.media-monitoring{
    position: relative;
    background-color: var(--pageBackground);
    .post-info{
        position: relative;
        height: var(--featured_image_height);
        top: 0;
        z-index: 200;
        .post-info-inner{
            position: absolute;
            right: 0;
            top: 5vw;
            .post-type{
                background-color: black;
                color: white;
                padding-right: 2rem;
                padding-left: 1rem;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                font-size: 20px;
                line-height: 1;
            }
            .post-buttons{
                display: flex;
                flex-direction: row-reverse;
                button{
                    background-color: black;
                    padding: 10px 10px;
                    svg{
                        fill: white;
                        height: 20px;
                        width: auto;
                    }
                    &:first-of-type{
                        padding-right: 2rem;
                    }
                }
            }
        }
        @include lg{
            position: absolute;
            width: 100%;
        }
    }
    .post-header{
        height: var(--featured_image_height);
        display: flex;
        flex-direction: column;
        position: sticky;
        width: 100vw;
        margin: 0 -5vw;
        top: var(--header-min-height);
        left: 0;
        z-index: 100;
        margin-top: -37.5vh;
        margin: 0;
        margin-top: 0;
        position: fixed;
        transform: none;
        .post-image{
            flex: 1;
            overflow: hidden;
            position: relative;
            figure{
                height: 100%;
                picture{
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        left: 0;
                        @include lg{
                            object-position: top;
                        }
                    }
                }
            } 
        }
        .post-title{
            background-color: var(--boxBackground);
            padding: 2rem;
            text-align: center;
            color: white;
            position: absolute;
            width: var(--post-body_width);
            height: auto;
            left: 50%;
            bottom: 0;
            transform: translate(-50%, var(--title-box-marin-error));
            @include lg{
                max-width: 900px;
            }
        }
        &.done{
            position: absolute;
            top: unset;
            transform: translateY(0px);
            bottom: calc(100vh - var(--featured_image_height) - var(--header-min-height));
            @include lg{
                position: relative;
                transform: none;
                bottom: 0;
            }
        }
        @include lg{
            padding-right: 0;
            position: relative;
            top: 0;
        }
    }
    .post-body{
        height: calc(100vh - 74vw - 61.75px + 10vh);
        transform: translateY(-10vh);
        background-color: var(--boxBackground);
        width: var(--post-body_width);
        margin: auto;
        border-radius: 5px 5px 0px 0px;
        position: relative;
        overflow: unset;
        transform: none;
        border-radius: 0;
        height: fit-content;
        min-height: calc(100vh - 74vw - var(--header-min-height));
        padding-top: var(--title-box-marin-error);
        .post-body-inner{
            overflow: unset;
            position: relative;
            min-height: calc(100vh - 74vw - var(--header-min-height));
            @include lg{
                margin: 0 6%;
            }
        }
        @include lg{
            max-width: 900px;
        }
    }
}



@import 'mediaMonitoring/files';
@import 'mediaMonitoring/fe9am';
@import 'mediaMonitoring/mokaf7a';
@import 'mediaMonitoring/correction'
