.post_container{
    font-family: $main-font;
    section{
        margin: 4rem 0;
    }
    .post-image{
        margin: 0 -5vw;
        figure{
            margin: 0;
            picture{
                img{
                    width: 100%;
                }
            }
        }
        @include lg{
            margin:  0 -9%;
        }
    }
    .post-content{
        margin: 0;
        p{
            font-size: 18px;
            line-height: 1.7;
            color: $battleship-grey;
            margin: 2rem 0;
            @include sm{
                font-size: 20px;
            }
        }
        .quote{
            text-align: center;
            width: 80%;
            margin: 2rem auto;
            position: relative;
            span{
                position: relative;
                display: inline-block;
                font-size: 23px;
                font-weight: bold;
                &::before{
                    content: "";
                    background-color: $pale-blue;
                    height: 25%;
                    width: 110%;
                    position: absolute;
                    z-index: -1;
                    left: 50%;
                    bottom: 24%;
                    transform: translate(-50%, 0%);
                }
            }
            
            &::before{
                content: "";
                display: block;
                position: absolute;
                width: 40px;
                height: 32px;
                background-image: url(/Assets/UI_Elements/double-dal-icon.svg);
                background-repeat: no-repeat;
                right: 0;
                top: 0;
                transform: translate(100%, -17%);
                background-size: contain;
            }
        }
    }
    .post-extra{
        margin-top: 1rem;
        .post-tags{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            .tags-icon{
                width: 55px;
                margin-left: 1rem;
                svg{
                    fill: $bluey-grey;
                }
            }    
            .tags-list{
                height: fit-content;
                ul{
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    display: flex;
                    flex-direction: row-reverse;
                    flex-wrap: wrap;
                    li{
                        font-size: 18px;
                        padding-left: 1.5rem;
                        color: $bluey-grey;
                        font-family: $main-font;
                    }
                }
            }
        }
        .post-emojis{
            margin-top: 2rem;
            .sec-heading{
                text-align: center;
                margin-bottom: 2rem;
            }
        }
        
    }
    .post-share{
        margin: 0;
        .desktop-share{
            display: none;
            @include lg{
                display: block;
            }
        }
        .mobile-share{
            @include lg{
                display: none;
            }
        }
        ul{
            padding: 0 ;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;
            li{
                max-width: 26px;
                padding: 0 1.5rem;
                a{
                    cursor: pointer;
                    svg{
                        width: 100%;
                        fill: $bluey-grey;
                    }
                }
            }
        }
        @include custom{
            position: fixed;
            position: fixed;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1000;
            ul{
                flex-direction: column;
                li{
                    padding: 24px;
                    position: relative;
                    max-width: 84px;
                    &:not(:last-child){
                        &::before{
                            content: "";
                            width: 45px;
                            height: 1px;
                            background-color: black;
                            position: absolute;
                            bottom: 5%;
                            right: 50%;
                            transform: translateX(50%) rotate(-30deg);

                        }
                    }
                    &:last-child{
                        svg{
                            transform: rotate(11deg);
                        }
                    }
                }
            }
        }
    }
    .post-comments{
        margin-bottom: 7rem;;
        .dal-heading{
            display: none;
            @include lg{
                display: block;
            }
        }
        .main-heading{
            @include lg{
                display: none;
            }
        }
        .comments{
            @include lg{
                transform: translateY(-10%);
                width: 82%;
            }
        }
        .button{
            @include lg{
                transform: translateY(-100%);
            }
        }
        
    }
    
    @include lg{
        padding: 0 8%;
    }

}