.post-header{
    text-align: right;
    font-family: $main-font;
    .post-type{
        color: $steel;
        font-size: 23px;
        font-weight: bold;
        position: relative;
        width: fit-content;
        margin-left: auto;
        margin-bottom: 1rem;
        &::before{
            content: "";
            height: 2px;
            width: 30px;
            background-color: $steel;
            position: absolute;
            left: 0;
            transform: translateX(-100%);
            top: 25%;
        }
    }
    .post-title{
        font-size: 25px;
        line-height: 1.4;
        color: black;
        @include md{
            font-size: 32px;
        }
    }
    .post-correspondent{
        font-size: 16px;
        color: $steel;
        margin-top: 1rem;
        span{
            font-weight: bold;
        }
        @include md{
            font-size: 20px;
        }
    }
    .post-date{
        font-size: 16px;
        margin-top: 0.75rem;
        color: black;
        @include md{
            font-size: 18px;
        }
    }
    .post-buttons{
        margin: 2rem 0;
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            width: fit-content;
            justify-content: center;
            align-items: center;
            margin-right: auto;
            height: 3rem;
            li{
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;
                width: 3rem;
                svg{
                    fill: $bluey-grey;
                    width: 100%;
                    height: auto;
                    max-height: 28px;
                }
                &:not(:first-child){
                    margin-left: 4px;
                }
                &.bookmark{
                    button{
                        cursor: pointer;
                    }
                }
            }
        }
    }
    @include lg{
        padding-right:8%;
    }
}