.archive-page{
    padding: 0 5%;
    .archive-editor-choices{
        margin: 0 -5vw;
        position: relative;
        background-color: $pale-grey;
        max-width: 1280px;
        .dal{
            position: absolute;
            top: 0;
            right: 0;
            z-index: 0;
            transform: translate(27%, -14%);
            svg{
                width: 155px;
                fill: white;
            }
            @include md{
                top: 29%;
                right: 0;
                transform: translateX(33%);
                text-align: right;
                width: 17%;
                svg{
                    fill: $pale-grey;
                    width: 100%;
                    height: auto;
                }
            }
        }
        .editor-choices{
            z-index: 4;
        }
        .main-heading{
            z-index: 4;
            position: relative;
            padding-right: 2rem
        }
        @include md{
            padding-bottom: 20%;
            margin: 0;
            background-color: white;
            margin: auto;
        }
    }
    .archive-posts{
        max-width: 1280px;
        margin: auto;
        .archive-posts-header{
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            .sorting-dropdown{
                width: 40%;
                max-width: 250px;
                @include lg{
                    min-width: 260px;
                }
                
            }
            .main-heading{
                @include lg{
                    display: none;
                }
            }
        }
        @include lg{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            .archive-posts-list{
                width: 75%;
            }
            .archive-posts-header{
                width: 25%;
                justify-content: flex-end;
            }
        }
    }
}