
.main-post{
    max-width: 1280px;
    margin: auto;
    .post:first-child{
        flex-direction: column;
        border-bottom: none;
        position: relative;
        padding-bottom: 3rem;
        margin-bottom: 2rem;
        .post__image{
            width: 100%;
            height: calc(75vw - 50px);
            margin: 0;
            margin-bottom: 2rem;
            border-radius: 5px;
        }
        .post__details{
            width: 100%;
            text-align: center;
        }
        .post__title{
            font-size: 31px;
            font-weight: bold;
            line-height: 1.4;
            color: $brown-grey-two;
        }
        .post__expert{
            display: block;
            color: $brown-grey-two;
            direction: rtl;
            font-size: 15px;
            margin-top: 0.5rem;
        }
        &::before{
            content: "";
            position: absolute;
            height: 2px;
            width: 40%;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            background-color: $very-light-pink;
        }
    }
}

.sec-posts{
    max-width: 1280px;
    margin: auto;
}