.button{
    text-align: center;
    a{
        text-decoration: none;
        padding: 7px 50px;
        line-height: 1;
        cursor: pointer;
        &.has-icon{
            min-width: 250px;
            display: inline-flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: center;
            padding: 18px 68px;
            box-sizing: border-box;
            svg{
                width: 20px;
                margin-right: 20px;
            }
            // @include lg{
            //     min-width: 400px;
            // }
        }
    }
    &.button-rounded{
        a{
            border-radius: 3px;
        }
    }
    &.primary-button{
        a{
            &.black{
                background-color: black;
                color: white;
                border: 1px solid black;
                svg{
                    fill: white;
                }
                &:hover{
                    background-color: white;
                    color: black;
                    svg{
                        fill: $bluey-grey;
                    }
                }
            }
            &.grey{
                background-color: $steel;
                color: white;
                border: 1px solid $steel;
                svg{
                    fill: white;
                }
                &:hover{
                    background-color: white;
                    color: $steel;
                    svg{
                        fill: $steel;
                    }
                }
            }
        }
    }
    &.secondary-button{
        a{
            &.black{
                background-color: white;
                color: black;
                border: 1px solid black;
                svg{
                    fill: $bluey-grey;
                }
                &:hover{
                    background-color: black;
                    color: white;
                    svg{
                        fill: white;
                    }
                }
            }
            &.grey{
                background-color: white;
                color: $steel;
                border: 1px solid $steel;
                svg{
                    fill: $steel;
                }
                &:hover{
                    background-color: $steel;
                    color: white;
                    svg{
                        fill: white;
                    }
                }
            }
        }
    }
}

