.comments{
    .comment{
        display: flex;
        padding: 3rem 0;
        .commenter-details{
            width: 50px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            margin-right: 0.5rem;
            .commenter-avatar{
                display: flex;
                justify-content: center;
                margin-bottom: 1rem;
                img{
                    height: 64px;
                    width: 64px;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 50%;
                }
                svg{
                    width: 100%;
                }
            }
            .commenter-name{
                font-size: 14px;
                text-align: center;
                line-height: 1;
                color: $steel;
                font-weight: bold;
            }
            @include lg{
                width: 60px;
                margin-right: 2.5rem;
                .commenter-avatar{
                    img{
                        width: 75px;
                        height: 75px;
                    }
                }
            }
        }
        .comment-wrapper{
            flex: 1;
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            .comment-content{
                text-align: right;
                padding-bottom: 0.5rem;
                direction: rtl;
                font-size: 14px;
                padding-left: 1.5rem;
                line-height: 1.4;
                @include md{
                    font-size: 18px;
                }
                @include lg{
                    font-size: 15px;
                    line-height: 1.8;
                }
            }
            img{
                width: 100%;
                object-fit: contain;
                object-position: left;
            }
            .mobile{
                @include md{
                    display: none;
                }
            }
            .desktop{
                display: none;
                @include md{
                    display: block;
                }
            }
        }
    }
}
