.dropdown{
    position: relative;
    &-header{
        border: 1px solid black;
        border-top-left-radius: 1px;
        border-top-right-radius: 1px;
        position: relative;
        &-arrow{
            position: absolute;
            left: 2rem;
            height: 12px;
            width: 12px;
            top: 50%;
            cursor: pointer;
            transform: translateY(-50%);
            &::before, &::after{
                content: "";
                position: absolute;
                bottom: 0px;
                width: 0.05rem;
                height: 100%;
                transition: all 0.5s;
                background-color: black;
            }
            &::after{
                left: 4px;
                transform: rotate(45deg);
            }
            &::before{
                left: -4px;
                transform: rotate(-45deg);
            }
        }
        &.open{
            .dropdown-header-arrow{
                &::before{
                    transform: rotate(45deg);
                }
                &::after{
                    transform: rotate(-45deg);
                }
            }
        }
        &-selected{
            text-align: right;
            padding: 5px 20px;
            cursor: pointer;
        }
    }
    &-list{
        position: absolute;
        width: calc(100% - 2px);
        border: 1px solid black;
        border-bottom-left-radius: 1px;
        border-bottom-right-radius: 1px;
        border-top: none;
        background-color: white;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: all 0.5s;
        z-index: 100;
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            padding: 0px 20px;
            li{
                text-align: right;
                color: $steel;
                position: relative;
                padding: 13px 0px;
                cursor: pointer;
                &.active{
                    color: black;
                }
                &:not(:last-of-type){
                    ::before{
                        content: "";
                        width: 100%;
                        height: 1px;
                        background-color: $pale-grey-two;
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }
        }
        &.open{
            opacity: 1;
            visibility: visible;
            pointer-events: all;
        }
    }
}
