.editor-choices{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: auto;
    direction: rtl;
    width: 100vw;
    position: relative;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-snap-type: x proximity;
    &::-webkit-scrollbar{
        display: none;
    }
    .post-item{
        width: 75vw;
        flex: 0 0 auto;
        scroll-snap-align: center;
        flex-direction: column;
        padding-left: 2rem;
        .post__image{
            width: 100%;
        }
        .post__details{
            .post__type, .post__tags, .post__expert{
                display: none;
            }
            .post__title{
                h2{
                    font-weight: normal;
                }
            }
        }
        &::before{
            content: none !important;
        }
        &:first-child{
            padding-right: 2rem;
        }
       
    }
    @include md{
        display: grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: 50% 50%;
        direction: rtl;
        grid-gap: 0;
        overflow: visible;
        width: 100%;
        .post-item{
            &:not(:first-child){
                grid-column-start: 2;
                grid-column-end: 3;
                width: 100%;
                flex-direction: row;
                padding: 0;
                .post__image{
                    width: 50%;
                }
                .post__details{
                    margin-left: 4%;
                    margin-right: 3%;
                    @include lg{
                        .post__title{
                            h2{
                                font-size: 22px;
                            }
                        }
                    }
                }
            }
            &:first-child{
                width: 100%;
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 1;
                grid-row-end: 4;
                flex-direction: row;
                padding: 0;
                .post__image{
                    figure{
                        padding: 0;
                        height: 100%;
                    }
                }
                .post__details{
                    position: absolute;
                    bottom: 0;
                    transform: translateY(125%);
                    .post__expert{
                        display: block;
                        color: $steel;
                    }
                    .post__title{
                        h2{
                            font-size: 23px;
                        }
                    }
                }
                
            }
            &:nth-child(2){
                margin-right: 4%;
                margin-bottom: 2%;
            }
            &:nth-child(3){
                margin-right: 4%;
                margin-top: 2%;
            }

        }
    }
    @include lg{
        .post-item{
            &:first-child{
                .post__details{
                    .post__title{
                        h2{
                            font-size: 28px;
                        }
                    }
                }
            }
        }
    }
}