.emojis{
    max-width: 500px;
    margin: auto;
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        li{
            padding: 0 1rem;
            width: 25%;
            text-align: center;
            button{
                width: 70%;
                position: relative;
                cursor: pointer;
                .emoji{
                    height: 50px;
                    img{
                        width: 100%;
                        z-index: 2;
                        opacity: 0;
                        transition: all 0.3s ease-in;
                    }
                    svg{
                        width: 100%;
                        height: auto;
                        z-index: 1;
                        transition: all 0.1s ease-in;
                        opacity: 1;
                    }
                    img, svg{
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        width: 40px;
                    }
                }
                &:hover{
                    .emoji{
                        img{
                            opacity: 1;
                        }
                        svg{
                            opacity: 0;
                        }
                    }
                }
                .emoji-counter{
                    position: absolute;
                    top: 0;
                    right: 0;
                    background: black;
                    color: white;
                    padding: 2px 6px;
                    border-radius: 2px;
                    transform: translate(72%, -91%);
                    font-size: 10px;
                }
            }
            &.active{
                button{
                    .emoji{
                        img{
                            opacity: 1;
                        }
                        svg{
                            opacity: 0;
                        }
                    }
                }
            }
        }
        &.reacted{
            li:not(.active){
                button{
                    svg{
                        fill: $bluey-grey;
                    }
                    .emoji-counter{
                        background-color: $bluey-grey;
                    }
                }
            }
        }
    }
}
