.main-heading{
    h2{
        color: black;
        font-size: 30px;
        font-weight: bold;
    }
    text-align: right;
    &.with-dash{
        width: fit-content;
        margin-left: auto;
        position: relative;
        line-height: 1;
        &::before{
            content: "" ;
            width: 30px;
            height: 2px;
            background-color: black;
            position: absolute;
            top: 0%;
            left: 0;
            transform: translateX(-100%);
        }
    }
}
.sec-heading{
    font-size: 21px;
    color: black;
}
.dal-heading{
    position: relative;
    .dal{
        width: 60px;
        margin-left: auto;
        padding-top: 0.5rem;
        svg{
            fill: rgba(#040505, 0.12)
        }
    }
    h2{
        color: $greyish-brown;
        position: absolute;
        top: 0;
        right: 52px;
        font-size: 30px;
        transform: translateY(-36%);
    }
}
.community-heading{
    text-align: center;
    font-size: 26px;
    color: $greyish-brown;
    font-weight: bold;
}