article{
    padding: 0 !important;
    h3{
        border: none !important;
        font-size: 36px !important;
        font-weight: normal !important;
        margin-bottom: 0 !important;
        background-image: url(../../Assets/qicon.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-size: 6.5rem;
        background-position: center;
        overflow: visible;
        padding: 3.4rem 0px !important;
        padding-bottom: 2rem !important;
    }
    ul{
        li{
            button{
                border-radius: 1px !important;
                border: 1px solid $very-light-pink-two !important;
                color: $brown-grey-two !important;
                padding: 15px;
                font-weight: normal !important;
                font-size: 17px;
            }
            .styles_result__SJJfE{
                border-radius: 1px !important;
                border: 1px solid $very-light-pink-two !important;
                .styles_fill__6jfwi{
                    border-radius: 1px !important;
                    background-color: rgba($very-light-pink-two, 0.5) !important;
                    top: calc(19px - 3px) !important;
                }
            }
        }
    }
    .styles_votes__3IO-o{
        display:  none !important;
    }
}