.post-item{
    padding: 2rem 0;
    position: relative;
    display: flex;
    .post__image{
        width: 40%;
        figure{
            height: 0;
            position: relative;
            margin: 0;
            picture{
                img{
                    width: 100%;
                    display: inline-block;
                    max-width: 100%;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                    object-position: center;
                    cursor: pointer;
                    border-radius: 1px;
                }
            }
        }
    }
    .post__details{
        flex: 1;
        text-align: right;
        margin-left: 10px;
        .post__title{
            h2{
                font-size: 18px;
                cursor: pointer;
            }
        }
        .post__expert{
            cursor: pointer;
        }
        .post__tags{
            display: flex;
            flex-direction: row-reverse;
            svg{
                width: 15px;
                fill: $steel;
            }
            .post-tag{
                color: $steel;
                cursor: pointer;
            }
        }
    }
     
    &.archive{
        flex-wrap: wrap;
        .post__image{
            width: 40%;
            figure{
                height: 0;
                margin: 0;
                position: relative;
                picture{
                    display: block;
                    img{
                        width: 100%;
                        display: inline-block;
                        max-width: 100%;
                        width: 100%;
                        height: 100%;
                        -webkit-transition: opacity 0.5s;
                        transition: opacity 0.5s;
                        object-fit: cover;
                        position: absolute;
                        object-position: center;
                        border-radius: 1px;
                        cursor: pointer;
                    }
                }
                
            }
        }
        .post__title{
            flex: 1;
            text-align: right;
            margin-left: 10px;
            .post__contentType{
                color: $steel;
                line-height: 1;
                font-weight: bold;
                font-size: 14px;
            }
            h2{
                font-weight: normal;
                font-size: 16px;
                line-height: 1.5;
                margin-top: 6px;
                cursor: pointer;
            }
        }
        .post__details{
            width: 100%;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            margin-top: 10px;
            flex: unset;
            margin-left: 0;
            .post__meta{
                display: flex;
                flex-direction: column;
                text-align: right;
                .post__date{
                    font-weight: bold;
                    font-size: 14px;
                    color: black;
                }
                .post__tags{
                    display: flex;
                    flex-direction: row-reverse;
                    margin-top: 3px;
                    svg{
                        width: 15px;
                        fill: $steel;
                        margin-left: 7px;
                    }
                    .post-tag{
                        font-size: 14px;
                        line-height: 1.4;
                        color: $steel;
                        &:not(:last-child){
                            padding-left: 14px;
                        }
                    }
                }
            }
            .post__buttons{
                display: flex;
                align-items: center;
                button{
                    height: fit-content;
                    &:last-child{
                        padding-left: 15px;
                    }
                }
                svg{
                    height: 15px;
                    width: auto;
                    fill: $bluey-grey;
                    
                }
            }
        }
        
        @include md{
            display: grid;
            grid-template-columns: 65% 35%;
            grid-template-rows: 1fr auto;
            .post__image{
                grid-column-start: 2;
                grid-row-end: 3;
                grid-row-start: 1;
                width: 100%;
            }
            .post__title{
                margin-left: 0;
                margin-right: 15px;
                width: 70%;
                justify-self: right;
                h2{
                    font-size: 22px;
                    line-height: 1.6;
                }
            }
            .post__details{
                margin-right: 15px;
                width: unset;
                .post__meta{
                    flex-direction: row-reverse;
                    .post__date{
                        margin-left: 15px;
                    }
                }
                .post__buttons{
                    button{
                        svg{
                            height: 20px;
                        }
                    }
                }
            }
        }
        @include lg{
            .post__title{
                width: 80%;
                h2{
                    font-size: 30px;
                }
            }
        }
    }
    &.wide{
        .post__image{
            figure{
                padding-bottom: 63.30769230769231%;
            }
        }
    }
    &.square{
        .post__image{
            figure{
                padding-bottom: 100%;
            }
        }
    }
    
    &:not(:last-child){
        &::before{
            content: "";
            height: 1px;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background-color: $pale-grey;
        }
    }
}
