.read-more{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: fit-content;
    a{
        color: $brown-grey-two;
        border-bottom: 1px solid $brown-grey-two;
    }
    svg{
        display: inline-block;
        height: 8px;
        margin-right: 5px;
        fill: $light-peach;
    }
}