.mobile-share{
    position: fixed;
    right: 0;
    bottom: 0;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: black;
    z-index: 300;
    box-shadow: -6px 0px 30px -4px #0000004a;
    border-radius: 3px 0px 0 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    svg{
        fill: white;
        width: 24px;
        height: 24px;
    }
}