.social-icons{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    li{
        padding: 1rem;
        line-height: 1;
        svg{
            width: 2rem;
            height: 2rem;
        }
    }
}