.archive-tags{
    flex-direction: row-reverse;
    display: flex;
    flex-wrap: wrap;
    margin: 3rem 0;
    .hash-icon{
        background-image: linear-gradient(to left, white, rgba(255, 255, 255, 0.96) 78.03%, transparent);
        padding-left: 30px;
        position: absolute;
        z-index: 3;
        svg{
            width: 70px;
            height: auto;
        }
        @include lg{
            background: none;
            position: relative;
            svg{
                display: block;
                .custom-color{
                    fill: $pale-grey;
                }
            }
            &::before{
                content: "";
                height: calc(100% - 6px);
                width: 53%;
                background-color: $pale-grey;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                z-index: -1;
            }
        }
    }
    .ticker{
        width: 100%;
        .tags-line{
            direction: rtl;
            white-space: nowrap;
            span{
                padding: 0 10px;
                overflow: visible;
                display: inline-block;
                font-size: 17px;
                color: $steel;
            }
            &:nth-child(2){
                span{
                    transform: translateX(10px);
                }
            }
        }
        @include lg{
            .ticker__element{

            }
            &:last-of-type{
                display: none;
            }
        }
    }
    @include lg{
        flex-wrap: nowrap;
        align-items: center;
        width: 97vw;
        left: 0%;
        position: relative;
        margin-left: -5vw;
        &::before{
            content: "";
            background-color: $pale-grey;
            width: 92vw;
            height:  calc(100% - 6px);
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);

        }
    }
}
