




.fe9am{
    .post-title{
        .fe9am-logo{
            padding-top: 5px;
            img{
                width: 80px;
                display: block;
                margin: auto;
                height: auto;
            }
        }
        .fe9am-source{
            font-size: 15px;
            font-weight: normal;
            color: $battleship-grey;
        }
    }
    .post-body{
        padding: 0 10px;
        padding-bottom: 5rem;
        .post-body-inner{
            .fe9am-content{
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                position: relative;
                .fe9am-content-item{
                    width: 48%;
                    text-align: center;
                    .fe9am-date{
                        font-size: 23px;
                        font-weight: bold;
                        direction: rtl;
                        color: black;
                    }
                    .fe9am-pronoun{
                        color: $brownish-grey;
                        direction: rtl;
                        margin-top: 0.6rem;
                    }
                    .fe9am-title{
                        position: relative;
                        padding-top: 1rem;
                        margin-top: 0.25rem;
                        padding-bottom: 1rem;
                        margin-bottom: 1rem;
                        min-height: 86px;
                        min-height: var(--titleHeight);
                        .quote-icon{
                            position: absolute;
                            width: 15px;
                            right: 0;
                            top: 0;
                            svg{
                                fill: $battleship-grey;
                            }
                        }
                    }
                    .fe9am-excerpt{
                       overflow: visible;
                       position: relative;
                       .inner-excerpt{
                           font-size: 14px;
                           line-height: 1.6;
                           height: var(--excerptHeight);
                           transition: all 0.3s ease-in-out;
                           overflow: hidden;
                           .highlight{
                               font-weight: bold;
                               position: relative;
                               &::before{
                                    content: "";
                                    background-color: $bluey-grey;
                                    height: 30%;
                                    width: 100%;
                                    top: 50%;
                                    position: absolute;
                                    z-index: -1;
                               }
                           }
                       }
                       .expand{
                            position: absolute;
                            bottom: 0;
                            width: 100%;
                            height: 100%;
                            display: block;
                            left: 0;
                            .arrow{
                                transform: translate(-50%, 110%);
                                height: 17px;
                                width: 100%;
                                bottom: 0;
                                position: absolute;
                                cursor: pointer;
                                &::before, &::after{
                                    content: "";
                                    position: absolute;
                                    bottom: 0px;
                                    width: 1px;
                                    height: 100%;
                                    transition: all 0.5s;
                                    background-color: $bluey-grey;
                                }
                                &::after{
                                    left: calc(50% + 7px);
                                    transform: rotate(45deg);
                                }
                                &::before{
                                    left: calc(50% + -5px);
                                    transform: rotate(-45deg);
                                }
                            }
                            &::before{
                                content: "";
                                width: 100%;
                                height: 100%;
                                background: linear-gradient(to top, var(--boxBackground), transparent);
                                position: absolute;
                                bottom: 0;
                                transition: all 0.1s ease-in-out;
                                transition-delay: 0.3s;
                                left: 0;
                            }
                       }
                       .excerpt-heading{
                           font-size: 18px;
                           color: $battleship-grey;
                           margin-bottom: 0.5rem;
                       }
                       &.expanded{
                           .expand{
                               .arrow{
                                    transform: translate(-50%, 180%);
                                    &::before{
                                        transform: rotate(45deg);
                                    }
                                    &::after{
                                        transform: rotate(-45deg);
                                    }
                               }
                               &::before{
                                   opacity: 0;
                               }
                           }
                       }
                    }
                    &.fe9am-before{
                        .fe9am-excerpt{
                            &.expanded{
                                .inner-excerpt{
                                    height: var(--beforeHeight);
                                }
                            }
                        }
                    }
                    &.fe9am-after{
                        .fe9am-title{
                            .quote-icon{
                                transform: scaleX(-1);
                                left: 0;
                            }
                        }
                        .fe9am-excerpt{
                            &.expanded{
                                .inner-excerpt{
                                    height: var(--afterHeight);
                                }
                            }
                        }
                    }
                }
                &::before{
                    content: "";
                    height: 100%;
                    width: 1px;
                    background-color: $battleship-grey;
                    position: absolute;
                    left: 50%;
                    top: 0;
                    transform: translateX(-50%);
                }
            }
            .fe9am-comment{
                text-align: center;
                color: $brownish-grey;
                width: 75%;
                margin: auto;
                margin-top: 4rem;
                position: relative;
                direction: rtl;
                span{
                    display: block;
                    color: black;
                    font-size: 20px;
                    margin-bottom: 1rem;
                }
                .dal{
                    position: absolute;
                    z-index: -1;
                    width: 65px;
                    left: 0;
                    bottom: 0;
                    transform: translate(-50%, 31%);
                    svg{
                        fill: $pale-grey-three;
                    }
                }
            }
        }
    }
}