


.files{
    .post-header{
        .post-title{
            transform: translate(-50%, 0);
        }
    }
    .post-body{
        padding-top: 0;
        .post-body-inner{
            justify-content: space-between;
            .file{
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                padding-bottom: var(--file-padding-bottom);
                position: relative;
                padding-top: var(--file-padding-top);
                scroll-snap-align: start;
                .file-info{
                    width: 18%;
                    .file-source{
                        color: var(--battleship-grey);
                        text-align: center;
                    }
                    .file-time{
                        margin-top: 4px;
                        text-align: center;
                        color: var(--greyish-brown);
                        .file-day{
                            font-size: 13px;
                        }
                    }
                }
                .file-content{
                    width: 76%;
                    text-align: right;
                    .file-title{
                        line-height: 1.5;
                        //transition: all 0.3s ease-in-out;
                        color: var(--steel);
                        width: 97%;
                        margin-left: auto;
                        &::before{
                            content: "";
                            background-color: #65727d;
                            width: 12px;
                            height: 12px;
                            position: absolute;
                            right: var(--timeline-right);
                            top: calc(var(--file-padding-top) + 2px);
                            border-radius: 50%;
                            transform: translateX(50%);
                        }
                    }
                    .file-comment{
                        background-color: var(--battleship-grey);
                        position: relative;
                        margin-top: 1rem;
                        padding:  10px;
                        .dal{
                            top: -14px;
                            position: absolute;
                            width: 63px;
                            right: -16px;
                            opacity: 0.22;
                            z-index: 1;
                            svg{
                                fill: var(--pale-grey-three);
                            }
                        }
                        .file-comment-inner{
                            color: white;
                            direction: rtl;
                            font-size: 13px;
                            z-index: 3;
                        }
                    }
                }
                &.active{
                    .file-content{
                        .file-title{
                            color: black;
                            //font-size: 20px;
                            font-weight: bold;
                        }
                    }
                }
            }  
        }
    }
    .timeline{
        position: absolute;
        width: 100%;
        height: calc(100% - var(--timeline-pin-height));
        top: var(--file-padding-top);
        right: 0;
        .timeline-pin{
            position: absolute;
            width: var(--timeline-pin-width);
            height: var(--timeline-pin-height);
            right: var(--timeline-right);
            top: 0;
            overflow: visible;
            display: block;
            transform: translateX(50%) translateY(-2px);
            border-radius: 50%;
            background-color: rgba($battleship-grey, 1);
            span{
                position: absolute;
                
                width: 100%;
                height: 100%;
                z-index: 30;
                border-radius: 50%;
            }
            &.stable{

                transform: translateX(50%) translateY(2px);
                //animation: hide 0.5s 1;
                //animation-fill-mode: forwards;
                span{
                    animation: pulse 2s infinite;
                    animation-delay: 0.5s;
                }
            }
        }
        &::before{
            content: "";
            height: calc(100% - var(--file-padding-bottom) - var(--timeline-margin-error));
            width: 1.5px;
            background-color: var(--battleship-grey);
            position: absolute;
            top: var(--timeline-margin-error);
            right: var(--timeline-right);
            transform: translateX(50%);
        }
        &::after{
            content: "";
            position: absolute;
            width: 18px;
            height: 1.5px;
            background-color: var(--battleship-grey);
            right: var(--timeline-right);
            transform: translate(50%, 100%);
            bottom: calc( var(--file-padding-bottom) );
        }
    }
}


@keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba($battleship-grey, 0.4);

    }
    70% {
        box-shadow: 0 0 0 10px rgba($battleship-grey, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba($battleship-grey, 0);
    }
}

// @keyframes hide {
//     0% {
//         width: 17px;
//         height: 17px;
//         background-color: rgba($battleship-grey, 1);
//     }
//     100% {
//         height: 15px;
//         width: 15px;
//         background-color: rgba($battleship-grey, 1);
//     }
// }