.mokaf7a{
    .post-body{
        .post-body-inner{
            padding-bottom: 4rem;
            .mokaf7a-section{
                position: relative;
                overflow: hidden;
                padding: 5% 9%;
                min-height: 260px;
                .section-title{
                    text-align: right;
                    font-weight: bold;
                    color: black;
                    font-size: 23px;
                }
                .section-content{
                    text-align: center;
                    color: $battleship-grey;
                    font-size: 20px;
                    line-height: 1.7;
                    direction: rtl;
                    margin-top: 1rem;
                }
                .section-icon{
                    position: absolute;
                    top: 50%;
                    z-index: -1;
                    svg{
                        fill: var(--pageBackground);
                        width: 150px;
                    }
                }
                &:nth-child(2n+1){
                    .section-icon{
                        left: 0;
                        transform: translate(-25%,-20%);
                    }
                }
                &:nth-child(2n){
                    .section-icon{
                        right: 0;
                        left: unset;
                        transform: translate(9%, -36%);
                    }
                }
                &.crime{
                    min-height: 180px;
                    .section-icon{
                        svg{
                            width: 200px;
                        }
                    }
                }
                &.report{
                    .section-icon{
                        transform: translate(9%, -20%);
                        svg{
                            width: 166px;
                        }
                    }
                }
                &.severity{
                    .section-icon{
                        top: 50%;
                        transform: translate(-25%, -30%);
                    }
                }
                &.rehabilitation{
                    .section-icon{
                        top: 0;
                        transform: translate(30%, 0%);;
                        svg{
                            width: 190px;
                        }
                    }
                }
            }
        }
    }
}