body,p,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
*, *::before, *::after{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
p,h1,h2,h3,h4,h5,h6{
    direction: rtl;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
figure{
    margin: 0;
}
button{
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}

.ellipsis{
    position: absolute;
    margin-right: 4px;
}
.MuiTooltip-tooltipPlacementLeft{
    white-space: pre;
}
.MuiTooltip-tooltip{
    padding: 6px 15px !important;
    font-size: 12px !important;
    font-family: taha !important;
    background-color: black !important;
}
.MuiTooltip-arrow{
    color: black !important;
}