@font-face {
    font-family: taha;
    font-weight: normal;
    src: url("/Assets/fonts/TahaRegular.ttf");

}

@font-face {
    font-family: taha;
    font-weight: bold;
    src: url("/Assets/fonts/TahaBold.ttf");
}


@font-face{
    font-family: massira;
    font-weight: normal;
    src: url('/Assets/fonts/29LTMassira-Pen.ttf') format('ttf'),
        url('/Assets/fonts/29LTMassira-Pen.eot') format(('eot')),
        url('/Assets/fonts/29LTMassira-Pen.woff') format('woff');
}