footer{
    background-color: black;
    text-align: center;
    padding: 4rem 10%;
    color: white;
    .footer-inner{
        .footer-about{
            .alhudood-logo{
                text-align: center;
                svg{
                    width: 110px;
                }
                @include lg{
                    text-align: right;
                }
            }
            p{
                color: white;
                font-size: 15px;
            }
            .dal{
                svg{
                    fill: white;
                    width: 15px;
                }
            }
            @include lg{
                text-align: right;
            }
        }
        .footer-social{
            ul{
                display: grid;
                grid-template-columns: auto auto;
                list-style: none;
                padding:0;
                margin: 0;
                max-width: 240px;
                margin: auto;
                li{
                    padding: 1.5rem;
                    svg{
                        width: 2.5rem;
                        height: 2.5rem;
                        fill: white;
                    }
                }
            }
        }
        .footer-menu{
            ul{
                list-style: none;
                margin: 0;
                padding: 0 ;
                li{
                    a{
                        color: white;
                        text-decoration: none;
                    }
                }
            }
        }
        @include lg{
            max-width: 85%;
            margin: auto;
            flex-direction: row-reverse;
            display: flex;
            .footer-section{
                width: 25%;
            }
        }
    }
    @include lg{
        padding: 4rem 3rem;
    }
}