.header{
    position: sticky;
    top: 0;
    min-height: var(--header-min-height);
    z-index: 2000;
    background: white;
    &__container{
        display: flex;

        padding: 0.5rem 1rem;
        justify-content: space-between;
        @include lg{
            flex-direction: row-reverse;
            max-width: 85%;
            margin: auto;
        }
    }
    &__logo{
        max-width: 60px;
        width: 100%;
    }
    &__list{
        display: flex;
    }
    &__search{
        display: none;
        align-items: center;
        svg{
            width: 20px;
        }
        @include lg{
            display: flex;
            padding: 0 1rem
        }
    }
    &__buttons{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        button{
            margin-left: 14px;
        }
    }
    &__menu{
        display: none;
        @include lg{
            display: flex;
            align-items: center;
            ul{
                list-style: none;
                display: flex;
                padding: 0;
                margin: 0;
                flex-direction: row-reverse;
                li{
                    padding: 0 0.7rem;
                    a{
                        color: black;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    &::before{
        content: "";
        position: absolute;
        bottom: 0;
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
        height: 1px;
        background-color: $pale-blue;
        @include lg{
            width: 95%;
        }
    }
}