$brown-grey: #a2a2a2;
$brown-grey-two: #888888;
$very-light-pink: #e8e8e8;
$very-light-pink-two: #cccccc;
$greyish-brown: #3c3c3c;
$steel: #878d96;
$light-peach: #edc6c6;
$light-grey: #f5f5f5;
$battleship-grey: #65727d;
$bluey-grey: #afb7c4;
$pale-blue: #dfe4ea;
$pale-grey: #e8edf3;
$ice-blue: #ecf0f5;
$pale-grey-two: #eef3f9;
$pale-grey-three: #eff3f7;
$greyish-brown: #3c3c3c;
$brownish-grey: #707070;
$correction-red: #EF2525;

@import './mixins.scss';


:root {  

    // you should give the header fixed height, not min height
    --header-min-height: 65px;


    //media monitoring
    --pageBackground: white;
    --boxBackground: #{$pale-grey-three};
    --title-box-marin-error: 30px;
    --featured_image_height: 74vw;
    --post-body_width: 95%;
    --post_body_padding: 6%;

    @include md{
        --featured_image_height: 50vw;
    }
    @include lg{
        --featured_image_height: 23vw;
        --post-body_width: 70%;
    }


    // media monitoring - type: files
    --file-padding-bottom: 2rem;
    --file-padding-top: 1rem;
    --timeline-right: 20.5%;
    --timeline-pin-width: 17px;
    --timeline-pin-height: 17px;
    --timeline-margin-error: 2px;
    --timeline-pin-position: 0px;
    --window-height: 0px;


    //colors
    --brown-grey: #{$brown-grey};
    --brown-grey-two: #{$brown-grey-two};
    --very-light-pink: #{$very-light-pink};
    --very-light-pink-two: #{$very-light-pink-two};
    --steel: #{$steel};
    --light-peach: #{$light-peach};
    --light-grey: #{$light-grey};
    --battleship-grey: #65727d;
    --bluey-grey: #{$bluey-grey};
    --pale-blue: #{$pale-blue};
    --pale-grey: #{$pale-grey};
    --ice-blue: #{$ice-blue};
    --pale-grey-two: #{$pale-grey-two};
    --pale-grey-three: #{$pale-grey-three};
    --greyish-brown: #{$greyish-brown};
    --brownish-grey: #{$brownish-grey};
}

$main_font: "taha";
$hand_font: "massira";